/*
==========================================================================
	CONTENT (scss/partials/_content.scss)
==========================================================================
*/

body {
  margin: 0;
  padding: 0; 
}

header {
  margin-top: 40px; 
}

article {
  margin: 0 auto; 
  max-width: 700px; 
  font: {
    family: $font-serif;
    size: 16px;
  }

  @include media-query(max, small) {
    margin: 0 auto;
    padding: 0 30px;   
  }
}

section {
  margin-bottom: 35px;
}

aside.left {
  display: inline; 
  float: left;
  width: 180px;
  font: {
    family: $font-sans; 
    size: 18px; 
    style: italic; 
  }
  color: $color-brand; 
  line-height: 24px; 
  border-top: 2px solid $color-brand; 
  margin: 10px 30px 0 -150px; 
  padding-top: 5px; 

  @include media-query(max, aside) {
    margin: 10px 30px 60px 0; 
  }
  
  @include media-query(max, small) {
    width: 280px; 
    float: none;
    display: block;
    margin: 20px 0 20px 0;   
  } 
}

aside.right {
  display: inline; 
  float: right;
  width: 170px;
  font: {
    family: $font-sans; 
    size: 18px; 
    style: italic; 
  }
  color: $color-brand; 
  line-height: 24px; 
  border-top: 2px solid $color-brand; 
  margin: 10px -130px 30px 30px; 
  padding-top: 5px; 

  @include media-query(max, aside) {
    margin: 10px 0 60px 30px; 
  }
  
  @include media-query(max, small) {
    float: none;
    display: block;
    width: 320px; 
    margin: 20px 0 20px 0;   
  } 
}

.indigo {
  color: $color-accent;
  font-weight: 600; 
}

//buttons 
.btn-main {
  display: inline-block; 
  background: $color-accent; 
  padding: 13px 26px; 
  margin: {
    top: 10px; 
    right: 10px; 
    bottom: 25px; 
  }
  border-radius: 3px; 
  font: {
    family: $font-sans; 
    size: 12px; 
    weight: 600; 
  }
  text: {
    transform: uppercase;
    align: center;
    decoration: none;  
  }
  letter-spacing: 1.5px; 
  color: $white; 
  
  &:hover {
    background: lighten($color-accent, 5%);
    color: $white;
    cursor: pointer;  
  }
}
 
.btn-secondary {
  display: inline-block; 
  border: 2px solid $color-accent; 
  padding: 10px 25px; 
  margin: {
    right: 10px; 
    bottom: 25px; 
  }
  border-radius: 3px; 
  font: {
    family: $font-sans; 
    size: 12px; 
    weight: 600; 
  }
  text: {
    transform: uppercase;
    align: center; 
    decoration: none; 
  }
  letter-spacing: 1.5px; 
  color: $color-accent; 
  
  &:hover {
    border: 2px solid lighten($color-accent, 20%);
    color: lighten($color-accent, 20%);
    cursor: pointer; 
  }
}

.btn-secondary-charter {
  display: inline-block; 
  border: 2px solid $color-accent; 
  padding: 10px 25px; 
  margin: {
    right: 10px; 
    bottom: 25px; 
  }
  border-radius: 3px; 
  font: {
    family: $font-sans; 
    size: 12px;
    weight: 600;  
  }
  text: {
    transform: uppercase;
    align: center; 
    decoration: none; 
  }
  letter-spacing: 1.5px; 
  color: $color-accent; 
  
  &:hover {
    border: 2px solid lighten($color-accent, 20%);
    color: lighten($color-accent, 20%);
    cursor: pointer; 
  }
}

#charter-supporters-container {
  display:none; 

  &.open {
    display: inline;
    margin: 0; 
    padding: 0;
    font-size: 14px;   
  
    ul {
      margin-top: 0; 
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3; 
      list-style-type: none;

      @include media-query(max, medium) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;     
      }

      @include media-query(max, small) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;     
      }  

      .list-item {
        display: inline-block;
        width: 100%; 
      }
    }
  }
  p {
    font-size: 14px; 
  }
}

//CONTENT
//FLEXBOX
.flex-container {
  @include flexbox();

  padding-right: 5px;
  order: 1; 

  @include media-query(max, small) {
    flex-direction: column; 

    h3 {
      margin: 1rem 0; 
    }     
  } 
  
  //2-column flexbox
  .flex-1stcol {
    margin-right: 30px;  
    max-width: 60%; 

    @include media-query(max, small) {
      flex-direction: column;
      align-items: center; 
      max-width: 100%; 
      margin: 0;      
    } 
  }

  .flex-nested-row {
    @include flexbox(); 
    justify-content: space-between;

    @include media-query(max, small) {
      flex-direction: column;
      align-items: center;  
      margin-bottom: 10px;    
    } 
    
    img.notb1-logo {
      display: inline; 
      margin-top: 10px; 
      max-height: 40px;

      @include media-query(max, small) {
        max-width: 200px; 
        max-height: none; 
        margin-bottom: 30px;     
      }   
    }
  }

  .flex-2ndcol_no-border {
    padding: 0 30px; 
    max-width: 100%; 
    }

    img.screenshot {
      max-width: 100%; 
      padding: 0;
      margin-bottom: 30px; 
      -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); 
      -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); 
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); 
    
      @include media-query(max, small) {
        max-width: 100%; 
      } 
    }

    li {
    padding-bottom: 5px;
    
      img {
        width: 35px;
        margin-right: 15px;
      }
    }

    @include media-query(max, small) {
      border: 0; 
      margin: 0; 
      padding: 0; 
    } 

  .flex-2ndcol_leftborder {
    border-left: 2px solid $color-brand; 
    padding-left: 30px;  
    max-width: 100%;

    li {
    padding-bottom: 5px;
    
      img {
        width: 35px;
        margin-right: 15px;
      }
    }

    @include media-query(max, small) {
      border: 0; 
      margin: 20px 0 0 0; 
      padding: 0;
      max-width: 100%;
    }  
  }
}

//one column flexbox
#story-founder-logos {
  @include flexbox(); 
  
  margin: 0;
  align-items: center; 
  padding-bottom: 30px;  

  @include media-query(max, small) {
    flex-direction: column; 
    align-items: flex-start;
  } 

  img {
    max-width: 160px;
  }
}

// grid 
.flex-grid {
   @include flexbox(); 
  flex-wrap: wrap;

  margin-bottom: 20px; 

  a {
    cursor: pointer;
    padding-right: 20px;  
  }

  .bio-list-item {
    @include flexbox(); 
    flex-direction: column; 

    margin-right: 40px;
    margin-bottom: 20px;  

    &._short-bio-container {
      padding-right: 20px; 
    }

    .bio-list-item_image {
      width: 150px; 
      height: 150px; 
      margin-top: 20px;
    }

    p.bio-list-item_info {
      width: 170px;  
      margin-top: 10px;
      font: {
        family: $font-sans; 
        size: 14px; 
      }
      
      span.bio-list-item_name {
        font: {
          family: $font-sans;
          size: 16px; 
          weight: 600; 
        }
      }

      a {
        font-family: $font-serif; 
        weight: 100; 
      }
    }

    .bio-list-item_modal {
      display: none; 
      padding: 40px; 
      position: fixed;
      top: 40px;
      right: 25%; 
      left: 25%; 
      bottom: 40px; 
      z-index: 1000;
      background: white; 
      border: 2px solid $color-brand;
      overflow-y: scroll; 

      @include media-query(max, medium) {
        right: 15%; 
        left: 15%;             
      }

      @include media-query(max, small) {
        right: 5%; 
        left: 5%;             
      }

      &.visible {
        display: block; 

        h2 {
          margin-top: 0; 
          margin-bottom: 0;
          color: $color-brand;
        }

        h4 {
          margin-top: 0;
          margin-bottom: 20px;
        }

        h4.not-bold {
          weight: 400; 
        
          a {
            text-decoration: none; 
          }
          
          img.bio-icon {
            width: 25px;
          }
        }
      }

      .close {
        display: block; 
        width: 20px; 
        height: 20px; 
        position: absolute; 
        top: 15px; 
        right: 15px; 
        color: $color-brand;
        cursor: pointer; 
        text-align: center;
        font: {
          family: $font-sans;
          size: 20px; 
        }  
      }
    } 
  }

  .overlay {
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    z-index: 500; 
    background: rgba(0,0,0,0.3); 
  }
}

.stop-scrolling {
  height: 100%; 
  overflow: hidden; 
}


//news & events
.card-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap; 
     
  h3 {
    position: relative; 
    text-transform: uppercase;
    font-family: $font-sans;
    font-size: 13px;  
    letter-spacing: 1px; 

    &:after {
      content: "";
      position: relative;
      display: block; 
      margin: 0 auto;  
      padding-top: 7px;
      border-bottom: 2px solid $color-brand; 
      width: 30px; 
    } 
  }

  h2 {
    color: $color-brand; 
    font: {
      family: $font-serif; 
      size: 20px;
      weight: 100; 
    }
    line-height: 26px; 
    padding: 0 10px; 
    margin-top: 15px;  
  }

  p {
    color: $color-brand; 
    font: {
      size: 14px; 
      family: $font-sans;
      weight: 600;
    }  
  }

  p.card-pdf {
    font-size: 12px;
  }

  a.card.press_release {
    display: flex; 
    align-items: center;
    flex-direction: column;
    width: 220px;
    min-height: 220px;  
    padding: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid $color-brand;
    transition: box-shadow 250ms linear;   

    flex: 0 1 auto;
    text-decoration: none; 
    cursor: pointer;

    &:hover {
      -webkit-box-shadow:inset 0px 0px 0px 4px $color-brand;
      -moz-box-shadow:inset 0px 0px 0px 4px $color-brand;
      box-shadow:inset 0px 0px 0px 4px $color-brand;
    }
  }

  a.card.bioone_news {
    display: flex; 
    align-items: center;
    flex-direction: column;
    width: 220px;
    min-height: 220px;  
    padding: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid $color-brand;
    transition: box-shadow 250ms linear;   

    flex: 0 1 auto;
    text-decoration: none; 
    cursor: pointer;

    img {
      margin: 5px 0; 
      width: 90px; 
    }

    &:hover {
      -webkit-box-shadow:inset 0px 0px 0px 4px $color-brand;
      -moz-box-shadow:inset 0px 0px 0px 4px $color-brand;
      box-shadow:inset 0px 0px 0px 4px $color-brand;
    }
  }

  .card_calendar {
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    width: 220px;
    min-height: 220px;  
    padding: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid $color-accent; 
    transition: box-shadow 250ms linear;

    text-decoration: none; 
    cursor: pointer; 

    &:hover {
      -webkit-box-shadow:inset 0px 0px 0px 4px $color-accent;
      -moz-box-shadow:inset 0px 0px 0px 4px $color-accent;
      box-shadow:inset 0px 0px 0px 4px $color-accent;
    }

    h2, h3, p {
      color: $color-accent; 
    }

    h2 {
      padding: 0; 
    }

    h3:after {
      content: "";
      position: relative;
      display: block; 
      margin: 0 auto;  
      padding-top: 7px;
      border-bottom: 2px solid $color-accent; 
      width: 30px; 
    } 

    .card_calendar_expand { 
      display: none;
      
      p.who {
        font-style: italic; 
        font-weight: 400; 
      }

      p.where {
        font-style: none; 
        font-weight: 400; 
      }
      
      &.visible {
        display: inline; 
      }
    }
  }

  .card.annual_report { 
    display: flex; 
    align-items: center; 
    flex-direction: column;
    position: relative; 
    width: 220px; 
    min-height: 200px;  
    padding: 9px; 
    margin-right: 10px;
    margin-bottom: 10px; 

    flex: 0 1 auto;
    text-decoration: none; 
    cursor: pointer; 
    
    background: { 
        size: cover; 
        position: center;
      }

    h3 {
      color: $white; 

      &:after {
        content: "";
        position: relative;
        display: block; 
        margin: 0 auto;  
        padding-top: 7px;
        border-bottom: 2px solid $white; 
        width: 30px; 
      } 
    }

    h2 {
      color: $white; 
      font: {
        family: $font-serif; 
        size: 20px;
        weight: 100; 
      }
      line-height: 26px; 
      padding: 0 10px; 
      margin-top: 15px;  
    }

    p {
      color: $white; 
      font: {
        size: 14px; 
        family: $font-sans;
        weight: 600; 
      }
    }

    .outline {
      margin-top: 2px; 
      border: 2px solid $white; 
      width: 200px;
      min-height: 200px;  
      transition: box-shadow 250ms linear;
      flex: 1 1 auto;

      &:hover {
        -webkit-box-shadow:inset 0px 0px 0px 3px $white;
        -moz-box-shadow:inset 0px 0px 0px 3px $white;
        box-shadow:inset 0px 0px 0px 3px $white; 
      }  
    }
  }
}   
   

#map {
  max-width: 100%;
}

.events-logo {
  max-width: 300px;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); 
  -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); 
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);   
}

//homepage flexbox
.homepage-flex {
  @include flexbox(); 
  -ms-flex-pack: distribute;
  -webkit-justify-content: "space-between";
  -moz-justify-content: "space-between"; 
  justify-content: "space-between";
  -webkit-box-align: "baseline";
  -ms-flex-align: "baseline";
  -webkit-align-items: "baseline";
  -moz-align-items: "baseline";
  align-items: "baseline";

  @include media-query(max, small) { 
    flex-direction: column;
  }
}

.homepage-flex-icon {
  img {
    max-width: 80px;
    margin-right: 20px;
    margin-top: 20px;  

    @include media-query(max, medium) { 
      max-width: 70px; 
    }

     @include media-query(max, small) { 
      max-width: 90px;
    }
  }
} 

.homepage-flex-content {
  margin-right: 20px;

  h3 {
    margin-bottom: 5px; 
  }

  @include media-query(max, medium) { 
    ol {
      margin-bottom: 20px; 
    }
    h3 {
      font-size: 14px;
      margin-bottom: 5px;  
    }
    font-size: 13px; 
  }

  @include media-query(max, small) {
    max-width: 100%;
    h3 {
      font-size: 16px; 
    } 
    font-size: 14px;  
  }  
}

.timeline-flex {
  @include flexbox(); 
  
  height: 2800px; 
  justify-content: center;
  margin-bottom: 100px;  
  
  @include media-query(max, small) {
    justify-content: flex-start;
  }

  .timeline-rule {
    margin-top: 20px; 
    height: 100%; 
    width: 12px; 
    background-color: lighten($color-accent, 50%);
  }

  .timeline-item-container {
    @include flexbox(); 
    flex-direction: column; 
  
    .timeline-item { 
      max-width: 300px; 
    
      h3 {
        padding-left: 20px; 
        margin-bottom: 10px;
        font-size: 18px; 
      }

      h2 {
        color: $color-brand; 
        font: {
          size: 22px; 
          family: $font-sans; 
          weight: 400; 
        }
        padding: 17px 20px 0 20px;
        margin-bottom: 0;  
        border-top: 3px solid $color-accent;
      }
    
      p {
        padding: 13px 20px 60px 20px; 
        font-size: 16px;
        line-height: 24px;
      }

      .timeline-item-year {
        font-weight: 400; 
      }
    }
  }
}


//mailchimp form 
.light-purple-bg {
  position: relative;
  padding: 20px 40px;  
  background-color: lighten($color-accent, 50%);
    @include media-query(max, small) {
      padding: 20px; 
  }


  #mc_embed_signup {
    input {
      margin-top: 10px; 
      padding: 10px 20px;
      border: 1px solid $color-accent; 
      color: $color-light; 
      font: {
        family: $font-serif; 
        size: 16px; 
      }
      border-radius: 3px;

      &:focus {
        outline: 0;
        outline-offset: 0; 
      }
    }

    .sign-up-list {
      @include flexbox();
      align-items: baseline; 

      .sign-up-col1 {
        width: 15%; 
        @include media-query(max, small) {
          width: 20%; 
        }
      } 

      .sign-up-col2 {
        width: 40%; 
      }
    }

    .btn-main {
      display: inline; 
      color: $white; 
      font: {
        family: $font-sans; 
        size: 12px; 
        weight: 600; 
      }
      margin-top: 0;
      margin-right: 0;  
      padding: { 
        top: 13px;
        right: 20px;
        bottom: 10px; 
        left: 20px;
      }
      @include media-query(max, small) {
        margin-top: 10px; 
      }
   
    }
  }

  #mc_embed_signup_scroll {
    div div ul li label {
      padding-left: 10px; 
    }
  }
}

//images
img.pub-logo { 
  display: inline; 
  max-width: 200px;
  margin-top: 40px; 
  margin-bottom: 10px;

  @include media-query(max, small) {
    max-width: 200px; 
    margin-top: 30px; 
  }   
}

.stats {
  display: block; 
  margin: 0 auto; 
  max-width: 500px; 
}



