/*
==========================================================================
	HEADER (scss/partials/_header.scss)
==========================================================================
*/

/*
==========================
  MAIN HEADER
==========================
*/
.page-header {
  height: 80px; 
  padding: 15px 0 0 15px;
  margin: 0;
  position: relative;
  background-color: $white;
  border-bottom: 2px solid $color-brand; 
  color: $color-brand; 
  font: {
    family: $font-sans;
    size: 14px;
    weight: 600;
  }
  letter-spacing: 1.5px;
  text-transform: uppercase; 

  @include media-query(max, medium) {
    padding: 25px 0 0 25px; 
  }
  
  @include media-query(max, small) {
    height: 72px; 
    border-bottom: $color-brand solid 2px;
    padding: 25px 75px 0 25px; 
  }

  img {
    width: 130px; 
    float: left; 
    margin-top: 5px; 

    @include media-query(max, medium) {
      width: 110px; 
      padding-top: 2px; 
    }
  
    @include media-query(max, small) {
      width: 110px; 
      padding-top: 0;  
    }
  }
}

.page-header-container {
  margin: 0 auto; 
  max-width: 1000px; 
}

/*
====================
  Navigation 
====================
*/

//Primary Navigation, For Desktop & Mobile 

ul.menu { 
  position: relative;
  float: right;
  margin-right: 25px;
  margin-top: 12px;

  @include media-query(max, small) {
    width: 240px; 
    float: none; 
    padding-top: 6.5px; 
    margin: 0; 
    background: $white;
    border: {
      bottom: 2px solid $color-brand;
      left: 2px solid $color-brand; 
      right: 2px solid $color-brand; 
      radius: 3px;
    }    
  }

  li.menu-item {
    display: inline;
    position: relative;
    padding-left: 35px;
    font-size: 14px;
    
    @include media-query(max, medium) {  
      padding-left: 15px; 
      padding-right: 0; 
      font-size: 13px;
    } 
  
    @include media-query(max, small) { 
      display: block;
      padding: 0;
      border-bottom: 2px solid lighten($color-light, 30%);
      font-size: 14px;

      &:last-of-type {
        border-bottom: 0; 
      }
    } 

    a {
      color: $color-brand;
      text-decoration: none;

      &:hover {
        color: $color-brand;
        border-bottom: 2px $color-brand solid;
      }
    
      @include media-query(max, small) { 
        display: block; 
        padding: 10px 20px 10px 15px;
        color: $color-brand; 
        font-weight: 600;

        &:hover {
          color: darken($color-brand, 10%);
          border-bottom: 0;
        }
      }
    }
  }
}

// Navigation For Mobile Only    

nav {
  z-index: 1;
  .handle span {
    display: none;
  }

  @include media-query(max, small) {
    z-index: 999; 
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 100%; 
    transition: right 200ms ease-in-out;        

    .handle {
      width: 80px;
      height: 72px;
      position: fixed;
      top: 0;
      right: 0;
      cursor: pointer;
      border-left: 2px solid $color-brand;
      border-bottom: 2px solid $color-brand; 
      background: $white; 

      &:before {
        content: "";
        position: absolute; 
        top: 18px; 
        right: 0; 
        height: 3px; 
        width: 40px; 
        border-bottom: 3px solid $color-brand;
        margin-right: 19px;    
      }

      &:after {
        content: "";
        position: absolute; 
        top: 25px; 
        right: 0; 
        height: 3px; 
        width: 40px; 
        border-bottom: 3px solid $color-brand;
        margin-right: 19px;   
      }

      span {
        display: inherit;
        position: inherit; 
        top: 40px; 
        right: 0; 
        margin-right: 17px;    
        font: {
          family: $font-sans; 
          size: 12px; 
          weight: 600; 
        }
        color: $color-brand;
        text: {
          transform: uppercase;
          align: center; 
        }
        letter-spacing: 1.5px; 
      
        &:before {
          content: "";
          position: absolute; 
          bottom: 23px; 
          right: 0; 
          height: 3px; 
          width: 40px; 
          border-bottom: 3px solid $color-brand;
          margin-right: 2px;   
        }

      }

    }
  
    &.open {
      .handle {
        &:before {
          margin: 0; 
          top: 30px;
          right: 24px; 
          width: 30px; 
          border-bottom: 4px solid $color-brand;
          -webkit-transform:rotate(45deg);
          -moz-transform:rotate(45deg);
          transform:rotate(45deg);
        }

        &:after {
          margin: 0; 
          top: 30px;
          right: 25px; 
          width: 30px; 
          border-bottom: 4px solid $color-brand;
          -webkit-transform:rotate(-45deg);
          -moz-transform:rotate(-45deg);
          transform:rotate(-45deg);
        }

        span {
          display: none;
        } 
      }   
    } 

    > ul.menu {
      overflow-y: scroll;
      max-height: 90vh; 
    }

    &.open ul.menu {
      right: calc(240px + 80px - 2px);
    }
  }
}

/*
==========================
  HOMEPAGE HEADER
==========================
*/
.page-header_homepage {
  position: relative;
  padding: 25px 0 0 15px;
  margin: 0 0 40px 0;
  height: 400px;
  background: {
    size: cover; 
    position: center;
  }
  border-bottom: 10px solid $color-brand; 
  font: {
    family: $font-sans;
    size: 14px;
    weight: 600;
  }
  letter-spacing: 1.5px;
  text-transform: uppercase; 

  @include media-query(max, medium) {
    padding: 25px 0 0 25px; 
  }
  
  @include media-query(max, small) {
    background-image: none !important;
    height: 72px; 
    border-bottom: $color-brand solid 2px;
    padding: 25px 75px 0 25px; 
  }

/*
=========================
  Homepage Navigation
=========================
*/

  nav ul.menu li {

    @include media-query(max, small) { 
      display: block; 
      padding: 0;
      border-bottom: 2px solid lighten($color-light, 30%);

      &:last-of-type {
        border-bottom: 0; 
      }
    }

    a {
      color: $white;

      &:hover {
        color: $white; 
        border-bottom: $white 2px solid; 
      }

      @include media-query(max, small) { 
        color: $color-brand; 
        padding: 10px 20px 10px 15px; 

        &:hover {
          color: darken($color-brand, 10%);
          border-bottom: 0;
        }
      }
    }
  }

/*
=================
  Homepage Logo
=================
*/

  .header-logo {
    width: 130px; 
    float: left; 
    
    @include media-query(max, medium) {
      width: 110px; 
      padding-top: 2px; 
    }

    @include media-query(max, small) {
      width: 110px; 
      padding-top: 0;  
    }
  }

/*
==============
  Hero
==============
*/
  .hero-text-container {
    max-width: 950px; 
    padding: 115px 20px 0 20px; 
    margin: 0 auto; 

    @include media-query(max, medium) {
      padding-top: 100px; 
    }

    @include media-query(max, small) {
      display: none; 
    }
    .hero-header {
      font: {
        family: $font-sans;
        weight: 600;
        size: 32px; 
        style: italic;
      } 
      text-transform: none; 
      letter-spacing: 0;
      color: $white; 
    }

    .hero-subheader {
      padding-top: 25px; 
      max-width: 800px;

      font: {
        family: $font-sans;
        weight: 400;
        size: 22px; 
      } 
      text-transform: none; 
      letter-spacing: 0;
      color: $white;
    }
  }
}
