/*
==========================================================================
	HEADER (scss/partials/_header.scss)
==========================================================================
*/
.page-header {
  height: 80px; 
  padding: 15px 0 0 15px;
  margin: 0;
  position: relative;
  background-color: $white;
  border-bottom: 2px solid $color-brand; 
  color: $color-brand; 
  font: {
    family: $font-sans;
    size: 14px;
    weight: 600;
  }
  letter-spacing: 1.5px;
  text-transform: uppercase; 

  @include media-query(max, medium) {
    padding: 25px 0 0 25px; 
  }
  
  @include media-query(max, small) {
    background-image: none; 
    height: 72px; 
    border-bottom: $color-brand solid 2px;
    padding: 25px 75px 0 25px; 
  }

  img {
    width: 130px; 
    float: left; 
    margin-top: 5px; 

    @include media-query(max, medium) {
      width: 110px; 
      padding-top: 2px; 
    }
  
    @include media-query(max, small) {
      width: 110px; 
      padding-top: 0;  
    }
  }
}

.page-header-container {
  margin: 0 auto; 
  max-width: 1000px; 
}

// NAVIGATION
// navigation for mobile state
nav {
  z-index: 1;
  .handle span {
    display: none;
  }

  @include media-query(max, small) {
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 100%; 
    transition: right 200ms ease-in-out;        

    .handle {
      width: 80px;
      height: 72px;
      position: fixed;
      top: 0;
      right: 0;
      cursor: pointer;
      border-left: 2px solid $color-brand;
      border-bottom: 2px solid $color-brand; 
      background: $white; 

      &:before {
        content: "";
        position: absolute; 
        top: 18px; 
        right: 0; 
        height: 3px; 
        width: 40px; 
        border-bottom: 3px solid $color-brand;
        margin-right: 19px;    
      }

      &:after {
        content: "";
        position: absolute; 
        top: 25px; 
        right: 0; 
        height: 3px; 
        width: 40px; 
        border-bottom: 3px solid $color-brand;
        margin-right: 19px;   
      }

      span {
        display: inherit;
        position: inherit; 
        top: 40px; 
        right: 0; 
        margin-right: 17px;    
        font: {
          family: $font-sans; 
          size: 12px; 
          weight: 600; 
        }
        color: $color-brand;
        text: {
          transform: uppercase;
          align: center; 
        }
        letter-spacing: 1.5px; 
      
        &:before {
          content: "";
          position: absolute; 
          bottom: 23px; 
          right: 0; 
          height: 3px; 
          width: 40px; 
          border-bottom: 3px solid $color-brand;
          margin-right: 2px;   
        }

      }

    }
  
    &.open {
      .handle {
        &:before {
          margin: 0; 
          top: 30px;
          right: 24px; 
          width: 30px; 
          border-bottom: 4px solid $color-brand;
          -webkit-transform:rotate(45deg);
          -moz-transform:rotate(45deg);
          transform:rotate(45deg);
        }

        &:after {
          margin: 0; 
          top: 30px;
          right: 25px; 
          width: 30px; 
          border-bottom: 4px solid $color-brand;
          -webkit-transform:rotate(-45deg);
          -moz-transform:rotate(-45deg);
          transform:rotate(-45deg);
        }

        span {
          display: none;
        } 
      }   
    } 

    > ul.menu {
      overflow-y: scroll;
      max-height: 90vh; 
    }

    &.open ul.menu {
      right: calc(240px + 80px - 2px);
    }
  }

  //primary navigation  
  ul.menu { 
    position: relative;
    float: right;
    margin-right: 25px;
    margin-top: 12px;

    @include media-query(max, small) {
      width: 240px; 
      float: none; 
      padding-top: 6.5px; 
      margin: 0; 
      background: $white;
      border: {
        bottom: 2px solid $color-brand;
        left: 2px solid $color-brand; 
        right: 2px solid $color-brand; 
        radius: 3px;
      }    
    }

    li.menu-item {
      font-size: 14px;
      display: inline;
      position: relative;
      padding-left: 35px;

      &:last-of-type {
        border-bottom: 0; 
      }
      
      &:last-of-type ul {
        left: -40px; 
        width: 160px; 
        
        @include media-query(max, small) { 
          left: 0; 
          width: 240px;
        } 
      }
      
      @include media-query(max, medium) {  
        font-size: 13px;
        padding-left: 15px; 
        padding-right: 0; 
      } 
    
      @include media-query(max, small) { 
        font-size: 14px;
        display: block;
        padding: 0;
      } 

      a {
        color: $color-brand;
        text-decoration: none;

        &:hover {
          color: $color-brand;
          border-bottom: 2px $color-brand solid;
        }
      
        @include media-query(max, small) { 
          display: block; 
          padding: 10px 20px 10px 15px;
          border-bottom: 2px solid lighten($color-light, 30%);
          color: $color-brand; 
          font-weight: 600;

          &:hover {
            color: darken($color-brand, 10%);
          }

          a:last-of-type {
            border-bottom: 0px;      
          }
        }

        &:hover ul.sub-menu {
          display: block;
          top: 25px; 

          @include media-query(max, small) {
            top: 0; 
          } 
        }
      }
    }

    nav > ul > li:last-of-type li:last-of-type a {
      border-bottom: 0;
    }
  }

    //secondary navigation 
  ul.sub-menu {
    @include media-query(max, small) {
      margin: 0;
      padding: 0 0 0 25px; 
      width: 246px; 
      position: relative;
      display: block;
      left: 0;
      top: 100%;
      z-index: 2; 
      border: {
        top: 2px solid lighten($color-light, 30%);
        left: 2px solid lighten($color-light, 30%);
        right: 2px solid lighten($color-light, 30%);
        radius: 3px;
      }
      background: $white;

      li {
        display: inherit; 
        padding: inherit; 

        a {
          display: block; 
          padding: 10px 13px; 
          color: $color-light;
          font-size: 12px; 
          font-weight: 600; 
          border-bottom: 2px solid lighten($color-light, 30%);  

          &:hover {
            color: darken($color-light, 30%);
          }
          
          &:last-of-type {
            border-bottom: 2px solid lighten($color-light, 30%);  
          }
        }
      }
    }
  }
} 

//homepage header
.page-header_homepage {
  position: relative;
  padding: 25px 0 0 15px;
  margin: 0 0 40px 0;
  height: 400px;
  background: {
    image: url("../img/bgs/headerbg-homepage_hawk.jpg");
    size: cover; 
    position: center; 
  }
  border-bottom: 10px solid $color-brand; 
  font: {
    family: $font-sans;
    size: 14px;
    weight: 600;
  }
  letter-spacing: 1.5px;
  text-transform: uppercase; 

  @include media-query(max, medium) {
    padding: 25px 0 0 25px; 
  }
  
  @include media-query(max, small) {
    background-image: none; 
    height: 72px; 
    border-bottom: $color-brand solid 2px;
    padding: 25px 75px 0 25px; 
  }

  nav ul.menu li a {
      color: $white;
    &:hover {
      color: $white; 
      border-bottom: $white 2px solid; 
    } 
  }
  
  .header-logo {
    width: 130px; 
    float: left; 
    
    @include media-query(max, medium) {
      width: 110px; 
      padding-top: 2px; 
    }
  
    @include media-query(max, small) {
      width: 110px; 
      padding-top: 0;  
    }
  }
  
  .hero-text-container {
    max-width: 950px; 
    padding: 115px 20px 0 20px; 
    margin: 0 auto; 

    @include media-query(max, medium) {
      padding-top: 100px; 
    }

    @include media-query(max, small) {
      display: none; 
    }
    .hero-header {
      font: {
        family: $font-sans;
        weight: 600;
        size: 32px; 
        style: italic;
      } 
      text-transform: none; 
      letter-spacing: 0;
      color: $white; 
    }

    .hero-subheader {
      padding-top: 25px; 
      max-width: 800px;

      font: {
        family: $font-sans;
        weight: 400;
        size: 22px; 
      } 
      text-transform: none; 
      letter-spacing: 0;
      color: $white;
    }
  }
}